[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
requests = "*"
joblib = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
runpy = "*"

[requires]
python_version = "3.7"
